<% include ../partials/header %>  

<link rel="stylesheet" href="/assets/css/room_types.css">

<main>

    <div class="grid-container-full">
        <div class="room_types1">
            <img src="/images/slider2.jpg" alt="">
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 971 113.11"><defs><style>.cls-1{fill:red;}.cls-2{font-size:39px;fill:#fff;font-family:OpenSans, Open Sans;}</style></defs><path class="cls-1" d="M547.5,491.6V412.8h798V416a75.69,75.69,0,0,1-75.61,75.6Z" transform="translate(-547 -379)"/><path class="cls-1" d="M1345,413.3V416a75.2,75.2,0,0,1-75.11,75.11H548V413.3h797m1-1H547v79.81h722.89A76.11,76.11,0,0,0,1346,416v-3.7Z" transform="translate(-547 -379)"/><path d="M547.5,462.5v-83h888v7.4a75.7,75.7,0,0,1-75.61,75.6Z" transform="translate(-547 -379)"/><path d="M1435,380v6.89A75.19,75.19,0,0,1,1359.89,462H548V380h887m1-1H547v84h812.89A76.1,76.1,0,0,0,1436,386.89V379Z" transform="translate(-547 -379)"/><text class="cls-2" transform="translate(16.34 55.72)">VÆRELSER</text></svg>
        </div>
    </div>
    <div class="grid-container">
        <div class="room_types2">
            <h5> <span class="sti">Hotel Overlook > <a href="/rooms"> Se vores udvalg af værelser</a> > <%= types.item.title %> </span> </h5> <br>
            <h2><%= types.item.title %></h2> 

        <div class="grid">
            <div class="grid1"> 
                <img src="/images/overlook-potsdamer-platz.jpg" alt="">
            </div>
            <div class="grid2">
                <img src="/images/overlook-rauma.jpg" alt="">
            </div> 
            <div class="grid3">
                <img src="/images/overlook-portalen.jpg" alt="">
             </div> 
            <div class="grid4">
                <img src="/images/overlook-silkeborg.jpg" alt="">
            </div> 
         <div class="grid5">  
             <h5>
                <%= types.item.description %> <br>
                <%= types.item.area %> <br>
                Plads til <%= types.item.num_persons %> personer
             </h5>
             <h3>Værelset er udstyret med</h3>
            </div>
            <div class="grid6">
                <% types.item.facilities.slice(0, 3).forEach(function(item) {
                    %> <h5> <i class="fa fa-check" style="color:green"></i> <%= item.title %> 
                    <% }); %></h5>
            </div> 
            <div class="grid7">
                <% types.item.facilities.slice(3, 6).forEach(function(item) {
                    %> <h5> <i class="fa fa-check" style="color:green"></i> <%= item.title %>
                    <% }); %> </h5>
            </div> 
            <div class="grid8">
                <% types.item.facilities.slice(6, 9).forEach(function(item) {
                    %> <h5> <i class="fa fa-check" style="color:green"></i> <%= item.title %>
                    <% }); %> </h5>
            </div> 
            <div class="grid9">
                <h3>Priser</h3>
                <h5>
                    NORMAL PRIS - inkl. morgenmad - Kan ikke ændres eller afbestilles <span class="pris"><%= types.item.day_price_normal %>DKK/nat</span> <br>
                    FLEX PRIS - inkl. morgenmad - Kan ændres eller afbestilles <span class="pris"><%= types.item.day_price_flex %>DKK/nat</span>
                </h5>
            </div>
        </div>
     </div>

        <div class="room_types3">
          <h4> <span class="bold">Værelsestyper:</span>
            <% rooms.items.forEach(function(item) {
                %> <a href="/room_type/<%= item.id %>"> <img src="<%= item.images[0].image %>" alt="">
                <%= item.room_title %> </a>
                <% }); %> </h4>
        </div>
    </div>


</main>

<% include ../partials/footer %>